# this file used in Easy Hosting Control Panel (ehcp), www.ehcp.net
# webserver config file for nginx webserver

server {
        listen   80;
        server_name  {subdomain}.{domainname} www.{subdomain}.{domainname};

        access_log  {homedir}/logs/access_log;
        error_log  {homedir}/logs/error_log;
        access_log /var/log/apache_common_access_log;
        

        location / {
                root   {homedir};
                index    index.html index.htm index.php;
        }

        ## Images and static content is treated different
       location ~* ^.+.(jpg|jpeg|gif|css|png|js|ico|xml|swf)$ {
                 access_log        off;
                 expires           30d;
                 root {homedir};
        }

        location ~ .php$ {
				fastcgi_pass   127.0.0.1:9000;
                fastcgi_index  index.php;
                fastcgi_param  SCRIPT_FILENAME  {homedir}$fastcgi_script_name;
                fastcgi_param  PHP_ADMIN_VALUE "open_basedir={homedir}:/tmp:/usr/share/php:/usr/share/pear";
                include fastcgi_params;
        }


        location ~ (apache_subdomain_template|apachetemplate|apachetemplate_ipbased|apachetemplate_passivedomains|/\.conf$|/\.ht|access_log|error_log|access\.log|error\.log) {   
                deny  all;
        }


}