<big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Menu do Revendedor</big></big><br>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;"></span><span style="font-weight: bold;"> DOMAIN
OPERATIONS <br>
      </span><span style="font-weight: bold;"><img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
       <li><a href="?op=listdomains">Listar Domínios</a></li>
       <li><a href="?op=adddomaineasy">Adicionar Domínio Facilitado(hospedagem, todos os usuários/senhas são o mesmo) </a></li> 
       <li><a href="?op=adddomain">Adicionar Domínio(hospedagem) </a></li>
       
        <li><a href="?op=listpassivedomains">Listar domínios passivos e novos domínios de aplicações</a></li>        
	_____________________________________
        <li><a href="?op=customhttp">Listar / Adicionar http customizado </a></li>
        <li><a href="?op=customdns">Listar / Adicionar dns customizado </a></li>
	<li><a href="?op=subdomains">Listar / Adicionar SubDomínios </a></li>
	<li><a href="?op=directories">Listar / Adicionar Diretórios Protegidos por Senha </a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OPERAÇÕES DE USUÁRIO NO FTP<br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=listallftpusers">Listar Todos os Usuários do
Ftp</a></li>
        <li><a href="?op=listftpusersrelatedtodomains">Listar Usuários do
Ftp relacionados com os domínios</a></li>
        <li><a href="?op=listftpuserswithoutdomain">Listar Usuários
Ftp sem um domínio</a></li>
        <li><a href="?op=addftpuser">Adicionar Usuário Ftp</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OPERAÇÕES DE EMAIL<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        <li><a href="?op=listemailusers">Listar Usuários de Email de um domínio</a></li>
        <li><a href="?op=listallemailusers">Listar Todos os Usuários de Email</a></li>
        <li><a href="?op=addemailuser">Adicionar Usuário de Email</a></li>
	<li><a href="?op=emailforwardings">Listar/Adicionar encaminhamentos de email</a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OPERAÇÕES COM BANCO DE DADOS MYSQL<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Adicionar Banco de Dados Mysql</a></li>
        <li><a href="?op=domainop&amp;action=listdb">Listar Banco de Dados Mysql</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OUTRO/REVENDEDOR</span></div>
      <ol>
        <li><a href="?op=listpanelusers">Listar Painel de Usuários/Revendedores</a></li>
 		<li><a href="?op=addpaneluser">Adicionar Painel Usuário/Revendedor</a></li>
 		<li><a href="?op=addscript">Instalação Facilitada de Scripts</a></li>
        <li><a href="?op=doupdatediskquota">Alterar Quota de Disco informação para domínios</a></li>
        <li><a href="?op=changemypass">Alterar minha senha</a></li>
        <li><a href="?op=dosyncdns">Sincronizar dns</a></li>
        <li><a href="?op=dosyncdomains">Sincronizar domínios</a></li>
        <li><a href="?op=help">Ajudar-Yardim</a></li>
        <li><a href="?op=todolist">Roadmap/Tarefas/Planos</a></li>
        <li><a href="?op=aboutcontactus">Sobre/Contato
Us</a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">EHCP STATUS-INFO:<br></span>
      </div></td><td></td></tr></tbody></table>
