<!-- <h1>Server Admin Main Menu</h1> -->
<!--
Icons:
http://www.iconspedia.com/pack/nx10-1-6/
http://www.iconspedia.com/pack/devcom-network-347/
http://www.iconspedia.com/pack/crystal-clear-actions-1303/
http://www.iconspedia.com/pack/soft-17-0/
-->
<table id="tblcontent"><tr>
<td>
<div class="content">
<div class="title"><img src="{templatedir}/domain.png"> Domínios</div>
      <ul>
       <li><a href="?op=selectdomain"><b>Listar Domínios</b></a></li>
       <li><a href="?op=addDomainToThisPaneluser"><b>Adicionar Domínio Facilitado para usuário de ftp</b></a> (<a href="?op=adddomaineasy">Adicionar domínio facilitado</a>, <a href="?op=adddomain">Adicionar domínio normal</a>, <a href="?op=bulkadddomain">Adicionar grupo de domínio</a>)</li>
       <li><a href="?op=adddnsonlydomain">Adicionar <b>somente dns de hospedagem</b></a></li>       
        <li><a href="?op=listpassivedomains">Listar <b>domínios passivos</b> e novas requisições de domínios/aplicações</a></li>        
      </ul>

</div>
<br />
</td><td>
<div class="content">
<div class="title"><img src="{templatedir}/users.png" alt=""> Usuários</div>
      <ul>
        <li><a href="?op=listallftpusers"><b>Usuários Ftp</b></a> (<a href="?op=listallftpusers">Listar</a>, <a href="?op=addftpuser">Adicionar Novo</a>, <a href="?op=addftptothispaneluser">Adicionar sobre meu ftp</a>,<a href="?op=addsubdirectorywithftp">Adicionar sobre o nome de domínio</a>,<a href="?op=addsubdomainwithftp">Adicionar subdomínio com ftp</a>)</li>
        <li><a href="?op=listallemailusers"><b>Usuários de Email</b></a> (<a href="?op=listallemailusers">Listar</a>, <a href="?op=addemailuser">Adicionar</a>)</li>
        <li><a href="?op=listpanelusers"><b>Painel</b> Usuários ou Clientes</a> (<a href="?op=listpanelusers">Listar</a>, <a href="?op=addpaneluser">Adicionar</a>)</li>
        <li><a href="?op=domainop&amp;action=listdb"><b>Banco de Dados Mysql</b></a> (<a href="?op=domainop&amp;action=listdb">Listar</a>, <a href="?op=addmysqldb">Adicionar Banco de Dados/Usuário Mysql </a>, <a href='?op=addmysqldbtouser'>adicionar banco de dados Mysql para usuário existente</a>, <a href='?op=dbadduser'>adicionar usuário mysql para banco de dados existente</a>)</li>
      </ul>

</div>
<br />
</td></tr><td>
<div class="content">
<div class="title"><img src="{templatedir}/system.png"> Sistema</div>
      <ul>
        <li><a href="?op=doupdatediskquota">Atualizar quota em disco para domínios</a></li>
		<li><a href="?op=dosyncdns"><b>Recarregar zonas DNS</b></a></li>
        <li><a href="?op=dosyncdomains">Sincronizar domínios</a></li>
        <li><a href="index.php?op=dobackup"><b>Backup do Servidor</b></a> (<a href="index.php?op=listbackups">Listar backups</a>, <a href="index.php?op=dorestore">Restaurar</a>)</li>
        <li><a href="?op=operations">Listar Completos/pendentes operações em segundo plano</a></li>
        <li><a href="?op=options"><b>Opções</b></a>, <a href="?op=changetemplate">Modelos</a>, <a href="?op=changemypass">Alterar senha</a></li>
        <li><a href="?op=serverstatus">Status do Servidor</a></li>

      </ul>

</div>
<br />
</td><td>
<div class="content">
<div class="title"><img src="{templatedir}/info.png"> Informação</div>
<div style="position: relative; top:-25px; left:5px;">
<font class="hidethis">
{dynamicinfo}
</div>
</div>
</td></tr>
</table>


<iframe marginwidth="0" marginheight="0" scrollbars="none" src="http://www.ehcp.net/latest/" frameborder="0" height="120" scrolling="no" width="600"></iframe>
<br>
<script type="text/javascript"><!--
google_ad_client = "pub-0768633782379013";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_ad_type = "text_image";
google_ad_channel = "";
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>


<br><a target='_blank' href='http://www.ehcp.net/?q=node/25'>ehcp precisa de sua ajuda !</a> - <a target='_blank' href='http://www.ehcp.net/helper/yardim/cats.php'>ehcp ajudar/como</a><br>

<br>
